{% extends "layout.html" %}

{% block content %}
    <h2>Account Settings</h2>
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ image_file }}" alt="User Image">
            <div class="media-body">
            <!--this change the addres and the mail t the currrent user  -->
                <h2 class="account-heading">{{ current_user.username }}</h2>
                <p class="text-secondary">{{ current_user.email }}</p>
            </div>
        </div>
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"> Account Info</legend>
            <div class="form-group">
                {{ form.username.label(class="form-control-label") }}
                {{ form.username(class="form-control form-control-lg") }}
            </div> 
            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {{ form.email(class="form-control form-control-lg") }}
            </div>
         
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            
        </fieldset>
    
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            <!--the href should links to  a login page , remember to link back to  a login page or any

    </div>
    
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div>{{ form.username.label }} {{ form.username(class="form-control") }}</div>
        <div>{{ form.email.label }} {{ form.email(class="form-control") }}</div>
       
{% endblock %}
